<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <form action="/" method="post">
        <textarea placeholder="Movies separated by commas" name="rawmovie"></textarea>
        <input type="submit" value="Send" >
    </form>
</body>

</html>